body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15% 0%;
  position: relative;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 500;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 70%;
  transform: rotate(25deg);
  margin-left: 15%;
  padding-bottom: 10%;
}

/* Features */
.feature-icons {
  color: #ef8172;
  margin: 50px 0 10px 0;
}

.feature-icons:hover {
  color: #ff4c68;
}

h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.feature-box {
  padding: 10% 7% 0%;
  background-color: #fff;
  position: relative;
  bottom: 200px;
}

/* Testimonial Sections */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 10% 15% 5%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 40px 40px 50px;
}

/* Pricing */
#pricing {
  padding: 10% 5% 5%;
  text-align: center;
  padding-bottom: 10px;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA */
#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 10% 15%;
}

.btn {
  margin-top: 100;
  margin-bottom: 10px;
}

.footer-notes {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
}

/* Footer */
#footer {
  background-color: #fff;
  text-align: center;
  font-weight: 100;
  font-weight: 500;
}

.footer-icons {
  margin: 5% auto 2% auto;
  text-align: center;
}

.copyright {
  color: #888888;
  padding: 25px;
}

.icons {
  padding: 0 20px;
}

@media (max-width: 1200px) {
  #title {
    text-align: center;
  }

  .title-image {
    padding-top: 50px;
    position: static;
    transform: rotate(0);
  }

  .feature-box {
    position: static;
    padding-bottom: 10%;
  }
}
